In [0]:
!pip install chardet

In [0]:
import requests
from bs4 import BeautifulSoup

url = 'http://www.gamble-tips.com/system/jp/tipcd/kt/svccd/rcourse/rcoursecd/' + id[0] + '/'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'html.parser')

In [66]:
# field_data = soup.select('td#contWrapper')
# print(field_data)

#テーブルを指定
table = soup.findAll("table",{"class":"cardc"})[0]
rows = table.findAll("td")

# データの取得確認
print(rows[0].string.split('競艇場')[0]) # 場名
print(rows[4].string.replace('。', '')) # 水質

若松
海水

## DB, テーブル作成

### 場_基本 テーブルを作成

In [0]:
import sqlite3

con = sqlite3.connect('aaa_data.db')

cursor = con.cursor()

cursor.execute("CREATE TABLE field_base(field_id, field_name, water)");

### データ追加

In [0]:
# data = [
#     (1, "saito", 19980810),
#     (2, "hori", 19961015),
#     (3, "yoda", 20000505),
#     (4, "nishino", 19940525),
#     (5, "kitano", 19960717)
# ]
# cursor.executemany("INSERT INTO data_set VALUES(?,?,?)", data)

# スクレイピング

## ここまでを踏まえ、以下の手順でデータをDBに追加


1.   urlの末尾（場ID）を順に変更
2.   url内の場名・水質を取得
3.   作成したテーブルに場ID・場名・水質をinsert

In [0]:
# 場ID
id = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']

for i in id:
  url = 'http://www.gamble-tips.com/system/jp/tipcd/kt/svccd/rcourse/rcoursecd/' + i + '/'
  r = requests.get(url)
  soup = BeautifulSoup(r.content, 'html.parser')
  
  #テーブルを指定
  table = soup.findAll("table",{"class":"cardc"})[0]
  rows = table.findAll("td")
  
  # データ追加
  p = "INSERT INTO field_base(field_id, field_name, water) VALUES(?, ?, ?)"
  cursor.execute( p, ( i, rows[0].string.string.split('競艇場')[0], rows[4].string.string.replace('。', '') ) )

con.commit()

## データのinsertを確認

In [69]:
cursor.execute('SELECT * FROM field_base')
cursor.fetchall()

[('01', '桐生', '淡水'),
 ('02', '戸田', '淡水'),
 ('03', '江戸川', '淡水と海水の混合'),
 ('04', '平和島', '海水'),
 ('05', '多摩川', '淡水硬め'),
 ('06', '浜名湖', '淡水と海水の混合'),
 ('07', '蒲郡', '汽水'),
 ('08', '常滑', '海水'),
 ('09', '津', '海水と淡水の混合'),
 ('10', '三国', '淡水'),
 ('11', '琵琶湖', '淡水'),
 ('12', '住之江', '工業用水と雨水からなる淡水硬い'),
 ('13', '尼崎', '淡水'),
 ('14', '鳴門', '海水軟らかめ'),
 ('15', '丸亀', '海水軟らかめ'),
 ('16', '児島', '海水軟らかめ'),
 ('17', '宮島', '海水'),
 ('18', '徳山', '海水'),
 ('19', '下関', '海水'),
 ('20', '若松', '海水'),
 ('21', '芦屋', '淡水それほど硬くない'),
 ('22', '福岡', '汽水'),
 ('23', '唐津', '淡水硬くない'),
 ('24', '大村', '海水')]